div[contenteditable="true"] {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
/*     margin: 50px;
    min-height: 50px; */
    /* border: 1px dashed #aaa; */
    /* padding: 5px; */
  }

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

[contentEditable=true]:empty:not(:focus):before{
    content:attr(placeholder)
}

